<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Gmail">
    <listeners>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="com.epam.lab.utils.report.ReportListener"/>
    </listeners>
    <test name="Test Send Letter">
        <classes>
            <class name="com.epam.lab.tests.TestGmail"/>
        </classes>
    </test>
    <test name="Test Account">
        <classes>
            <class name="com.epam.lab.tests.TestAccount"/>
        </classes>
    </test>
</suite>